/**
 * @version 1.0 2020-04-16
 * @author Martini
 */

 @charset 'utf-8';


 html,body{width: 100%;overflow-x:hidden;}
 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
 html,body{font-size: 10px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
 table {border-collapse: collapse;border-spacing: 0;}
 img {border: 0;vertical-align: middle;}
 address,caption,cite,code,dfn,i,em,strong,th,var {font-weight: normal;font-style: normal;}
 ol,ul {list-style: none;}
 a{text-decoration:none;color:#414141;transition: all .5s;}
 a:hover{text-decoration:none;color:#10BFA7;}
 a:focus{outline:none; text-decoration:none;}
 a:active,a:hover{outline:0; text-decoration:none;}
 caption,th {text-align: left;font-weight: normal;}
 h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
 q:before,q:after {content: ”;}
 abbr,acronym {border: 0;}
 button,input,optgroup,select,textarea {margin: 0;font: inherit;color: inherit;}
 * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
 :before,:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
 input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
 input{-webkit-appearance: none;}
 article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
 button:active{    outline: none;
     border-color: transparent;
     box-shadow:none;}
 @media screen and (min-width:100px){ /*  iPhone 4,5 */
     html{ font-size: 10px;}
 }
 @media screen and (min-width:320px){ /*  iPhone 4,5 */
     html{ font-size: 10px;}
 }
 @media screen and (min-width:375px){ /*  iPhone 6 */
     html{ font-size: 12px;}
 }
 @media screen and (min-width:414px){  /*  iPhone 6 plus */
     html{ font-size: 12px;}
 }
 @media screen and (min-width:600px){
     html{ font-size:14px;}
 }
 ::-webkit-input-placeholder {color:#999;}
 :-moz-placeholder {color:#999;}
 ::-moz-placeholder {color:#999;}
 :-ms-input-placeholder {color:#999;}
 html{-webkit-overflow-scrolling: touch;}
 body{font-size:.3rem;overflow-x:hidden;background:#fff;}
 /*----全局----*/
 /**
  * Swiper 4.4.6
  */
 .swiper-container{margin:0 auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-transition-property:height,-webkit-transform;transition-property:height,-webkit-transform;-o-transition-property:transform,height;transition-property:transform,height;transition-property:transform,height,-webkit-transform}.swiper-container-3d{-webkit-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s opacity;-o-transition:.3s opacity;transition:.3s opacity;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transform:scale(.33);-ms-transform:scale(.33);transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{-webkit-transform:scale(.66);-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{-webkit-transform:scale(.33);-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{-webkit-transform:scale(.66);-ms-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{-webkit-transform:scale(.33);-ms-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;-webkit-transition:.2s top,.2s -webkit-transform;transition:.2s top,.2s -webkit-transform;-o-transition:.2s transform,.2s top;transition:.2s transform,.2s top;transition:.2s transform,.2s top,.2s -webkit-transform}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:.2s left,.2s -webkit-transform;transition:.2s left,.2s -webkit-transform;-o-transition:.2s transform,.2s left;transition:.2s transform,.2s left;transition:.2s transform,.2s left,.2s -webkit-transform}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:.2s right,.2s -webkit-transform;transition:.2s right,.2s -webkit-transform;-o-transition:.2s transform,.2s right;transition:.2s transform,.2s right;transition:.2s transform,.2s right,.2s -webkit-transform}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-ms-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{-webkit-transform-origin:right top;-ms-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-progressbar.swiper-pagination-white{background:rgba(255,255,255,.25)}.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-pagination-progressbar.swiper-pagination-black{background:rgba(0,0,0,.25)}.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{background:#000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;-o-object-fit:contain;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-ms-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:'';width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}
 

 

html {-webkit-overflow-scrolling: touch;background: #fafafa;height: 100%;display: block;}
body {font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;font-size: .3rem;line-height: 1.5;text-align: center;color: #666;position: relative;text-align: left;background: #fafafa;overflow-x: hidden;display: block;height: 100%;}
.clear:after {clear: both;content: '';display: block;}
.icon {font-family: 'icon';font-size: .35rem;}
#app {height:100%;}
.main{position: relative;z-index:1;height:100%;}
.main header,.main footer{position: fixed;z-index:5;width:100%;left:0;}
.main header{top:0;height:1rem;box-shadow:0 1px 5px #ccc;background:#fff;}
.main footer{bottom:0;}
header a.arr{position: absolute;left:5%;color:#333;top: 50%;z-index:2;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
header .headerCon{position: relative;z-index:2;}
header h1{text-align:center;height:1rem;line-height:1rem;}
.pageBox{width:100%;padding:1.3rem 5% 1.4rem;position: relative;z-index:1;}
nav{position:fixed;z-index:5;bottom:0;left:0;width:100%;border-top:1px solid #eee;background:#fff;height:1.2rem;}
nav a{display:inline-block;width:33.3%;text-align:center;height:100%;}
nav a i.icon{color:#a6b2c4;font-size:.5rem;display:block;padding-top:.05rem;}
nav a p{font-size:.25rem;}
nav a.cu i.icon{
    background-image:-webkit-linear-gradient(left,#8FD3F4,#39F7CD);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
nav a.cu p{color:#10BFA7;}

footer{width:100%;padding:5%;background:#fafafa;}

@font-face {
  font-family:'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#font_family') format('svg');
}
.icon{
  font-family:"iconfont" !important;
  font-size: .35rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*渐变图标demo*/
.iconColor{
    background-image:-webkit-linear-gradient(left,red,#fd8403,yellow);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

/*checkbox&radio*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #5fb2ff;
    --active-inner: #fff;
    --input-border: #5fb2ff;
    --input-border-hover: #5fb2ff;
    --background: #fff;
    --disabled: #83b5ff;
    --disabled-inner: #50a5f4;
    --shadow-inner: rgba(36, 45, 68, 0.1);
    height: .4rem;
    outline: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    height: .4rem;
    border: 1px solid var(--input-border);
    background: var(--background);
    transition: background .3s ease, border-color .3s ease;
  }
  input[type='checkbox']:after,
  input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: opacity .2s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
    transition: transform .3s ease, opacity .2s ease, filter .3s ease;
    transition: transform .3s ease, opacity .2s ease, filter .3s ease, -webkit-transform .3s ease, -webkit-filter .3s ease;
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    background: var(--active);
    border-color: var(--active);
  }
  input[type='checkbox']:checked:after,
  input[type='radio']:checked:after {
    -webkit-filter: drop-shadow(0 1px 2px var(--shadow-inner));
    -moz-filter: drop-shadow(0 1px 2px var(--shadow-inner));
    -ms-filter: drop-shadow(0 1px 2px var(--shadow-inner));
            filter: drop-shadow(0 1px 2px var(--shadow-inner));
    transition: opacity 0.3s ease, -webkit-filter 0.3s ease, -webkit-transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2), -webkit-filter 0.3s ease, -webkit-transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
  }
  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
    cursor: not-allowed;
    opacity: .9;
    background: var(--disabled);
  }
  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
    background: var(--disabled-inner);
    border-color: var(--input-border);
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    border-color: var(--input-border-hover);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
    width: .4rem;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
    opacity: 0;
  }
  input[type='checkbox']:not(.switch):checked:after,
  input[type='radio']:not(.switch):checked:after {
    opacity: 1;
  }

  input[type='checkbox']:not(.switch) {
    border-radius: .1rem;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 33%;
    top: 50%;
    -webkit-transform: rotate(20deg) translate(-50%,-50%);
    -moz-transform: rotate(20deg) translate(-50%,-50%);
    -ms-transform: rotate(20deg) translate(-50%,-50%);
    transform: rotate(20deg) translate(-50%,-50%);
  }
  input[type='checkbox']:not(.switch):checked:after,
  input[type='radio']:not(.switch):checked:after {
    -webkit-transform: rotate(43deg) translate(-50%,-50%);
    -moz-transform: rotate(43deg) translate(-50%,-50%);
    -ms-transform: rotate(43deg) translate(-50%,-50%);
    transform: rotate(43deg) translate(-50%,-50%);
  }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: .1rem;
  }
  input[type='checkbox'].switch:after,
  input[type='radio'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--input-border);
  }
  input[type='checkbox'].switch:checked:after,
  input[type='radio'].switch:checked:after {
    background: var(--active-inner);
    -webkit-transform: translateX(17px);
    -moz-transform: translateX(17px);
    -ms-transform: translateX(17px);
            transform: translateX(17px);
  }
  input[type='checkbox'].switch:disabled:not(:checked):after,
  input[type='radio'].switch:disabled:not(:checked):after {
    opacity: .6;
  }


  input[type='radio'] {
    border-radius: 50%;
  }
}

/*btn*/

.btn {border-radius: 2rem;display: inline-block;color: #fff;
background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 247, 205, 1)), to(rgba(143, 211, 244, 1)));
    background-image: -webkit-linear-gradient(right, rgb(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: -o-linear-gradient(right, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: linear-gradient(to left, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
}
.btn:hover {color:#fff;}
.btnSmall {height: .5rem;line-height: .5rem;font-size: .25rem;padding: 0 5%;}
.btnMiddel {height: .6rem;line-height: .6rem;font-size: .28rem;padding: 0 5%;}
.btnBig {height: .8rem;line-height: .8rem;font-size: .35rem;display: block;width: 100%;text-align: center;}
.btnL {border-radius: .1rem 0 0 .1rem;}
.btnC {border-radius: 0 0 0 0;}
.btnR {border-radius: 0 .1rem .1rem 0;}


/*form表单*/
.form {margin-bottom: 5%;background:#fff;box-shadow:0 1px 5px #ddd;border-radius: .1rem;padding:0 5%;}
.mod {position: relative;z-index: 1;display: block;font-size: .25rem;border-bottom:1px solid #efefef}
.mod:last-child {border-bottom: 0;}
.mod i {position: absolute;left:0;top: 0;color: #999;padding-left:0;padding-top: 5%;padding-bottom: 5%;z-index: 1;}
.mod i b {position: absolute;z-index: 1;left: -.05rem;color: #F85B5B;}
.mod em {display: block;width: 100%;position: relative;z-index: 2;text-align: left;color: #666;padding-left: 2.5rem;padding-right: 8%;padding-top: 5%;padding-bottom: 5%;}
.mod em.gray {color: #ccc;}
.mod em a {color: #666;}
.mod em b.unbind {font-weight: normal;padding: 1% 3%;background: #5fb2ff;color: #fff;border-radius: .05rem;margin-left: 5%;}
.mod .modDot {position: absolute;right: 3%;top: 50%;color:#ccc;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.mod .btn {position: absolute;right: 5%;top: 50%;z-index:2;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.modFull{}
.modFull i{position: relative;left:0;top:0;display:block;}
.modFull em{padding-left:0;padding-top:0;padding-right:0;}
.modFull em:after{clear:both;content:'';display:block;}
.modFull em b.pic{width:32%;display:block;float:left;margin-right:1.5%;margin-bottom:2%;}
.modFull em b.pic:nth-child(3n){margin-right:0;}
.modFull em b.pic img{width:100%;display:block;}


/*图片上传*/
.uploadPic{margin-bottom:5%;display:block;float:left;width:100%;}
.uploadPic a.upContrl{display:block;width:100%;background:#e5e7ea;height:1.8rem;border:1px solid #ddd;position: relative;z-index:1;}
.uploadPic a.upContrl:before,
.uploadPic a.upContrl:after{display:block;content:'';width:1rem;height:1px;background:#aaa;position: absolute;z-index:1;left:50%;top:50%;}
.uploadPic a.upContrl:before{
  -webkit-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.uploadPic a.upContrl:after{
  -webkit-transform-origin:center center;
  -moz-transform-origin:center center;
  -ms-transform-origin:center center;
  transform-origin:center center;
  -webkit-transform:translate(-50%,-50%) rotate(90deg) ;
  -moz-transform: translate(-50%,-50%) rotate(90deg);
  -ms-transform: translate(-50%,-50%) rotate(90deg);
  transform: translate(-50%,-50%) rotate(90deg);
}


/*text*/
.mod input.text {height: 1rem;border: 0;background: transparent;text-align: left;width: 100%;padding: 0 8% 0 2.5rem;position: relative;z-index: 2;}
.mod input.text:focus {outline: none;}
.mod input.textYzm {padding: 0 37% 0 1.5rem;}
/*select*/
.mod select {height: 100%;line-height: 1rem;border: 0;background: transparent;text-align: right;width: 100%;opacity: 0;position: absolute;width: 100%;z-index: 3;left: 0;top: 0;}
/*textarea*/
.modTextarea i {position: relative;display: block;padding-bottom: 3%;}
.modTextarea textarea {border: 0;height: 1rem;background: transparent;text-align: left;width: 87%;margin: 0 8% 5% 5%;}

/*tab*/
.tab{background:#fff;border-bottom:1px solid #eee;margin-bottom:3%;}
.tab ul:after{clear:both;content:'';display:block;}
.tab ul li{float:left;width:50%;text-align:center;font-size:.3rem;position: relative;z-index:1;}
.tab ul li span{display:inline-block;height:1rem;line-height:1rem;position: relative;z-index:1;}
.tab ul li span em{position: absolute;z-index:1;left:105%;top:50%;background:#FF5F5F;border-radius: 1rem;height:.4rem;color:#fff;padding:0 .15rem;font-size:.25rem;line-height:.4rem;text-align:right;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.tab ul li.cu{color:#1DC39E;}
.tab ul li.cu:after{content:'';width:100%;height:.05rem;background:#1DC39E;display:block;left:0;bottom:0;position: absolute;z-index:1;}

/*taskList*/
.taskList{padding:0 5%;}
.taskList ul li{background:#fff;padding:4% 4%;box-shadow:0 1px 5px #dfe3e8;border-radius: .1rem;position: relative;z-index:1;margin-bottom:5%;}
.taskList ul li dl{}
.taskList ul li dl dt{color:#333;font-size:.25rem;font-weight:bold;}
.taskList ul li dl dt b{display:inline-block;background:#FFF2EE;border:1px solid #FDA084;padding:.05rem .2rem;font-weight:normal;color:#FDA084;margin-left:5%;}
.taskList ul li dl dt b.blue{color:#5481DC;background:#dee8f0;border:1px solid #5481DC;}
.taskList ul li dl dt b.green{color:#1DC39E;background:#deeded;border:1px solid #1DC39E;}
.taskList ul li dl dd{color:#666;font-size:.25rem;padding-right:.3rem;}
.taskList ul li dl dd p:nth-child(2){color:#999;}

.taskList ul li a.btn{position: absolute;right:3%;bottom:10%;}
.taskList ul li .date{position: absolute;right:5%;top:50%;font-size:.25rem;text-align: right;color:#999;;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*关于我们*/
.aboutPage{}
.aboutPage .aboutTxt{background:#fff;border-radius: .1rem;padding:3% 5%;box-shadow:0 1px 5px #dfe3e8;}
.aboutPage .aboutTxt img{width:100%;margin:0 5%;}

/*登录界面*/
.loginPg{position: relative;z-index:1;height:100%;background-image:url(../img/login-bg.png);background-size:100% auto;background-position:center top;background-repeat: no-repeat;background-color:#fff;padding:0 15%;text-align:left;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-orient: horizontal;
}
.loginPg .pageBox{height:auto;}
.loginPg .tit{position: relative;z-index:1;padding-top:5%;margin-bottom:10%;}
.loginPg .tit:before{height:.1rem;width:50%;content:'';display:block;position: absolute;z-index:1;left:0;top:0;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 247, 205, 1)), to(rgba(143, 211, 244, 1)));
    background-image: -webkit-linear-gradient(right, rgb(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: -o-linear-gradient(right, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: linear-gradient(to left, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
}
.loginPg .tit h6{font-size:.6rem;}
.loginPg .form{background:transparent;border:0;box-shadow:none;margin-bottom:10%;padding:0;}
.loginPg .form .mod:last-child{border-bottom:1px solid #efefef;}
.loginPg .form .mod input.text{text-align:left;padding: 0 8% 0 .6rem;}
.loginPg .tip{font-size:.25rem;color:#bbb;}
.loginPg .tip a {color: #307FD1;}
.loginPg .btns{margin-bottom:10%;}
.loginPg .form .mod .btn{right:0;}



/*个人首页*/
.staffHome{}
.staffHome .pageBox{padding-left:0;padding-right:0;}
.staffHome .scan{padding:0 5% 3%;}
.staffHome .scan img{width:100%;display:block;}


/*我的*/
.my .pageBox{padding-top:5%;}
.my header{position: relative;box-shadow:none;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 247, 205, 1)), to(rgba(143, 211, 244, 1)));
    background-image: -webkit-linear-gradient(right, rgb(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: -o-linear-gradient(right, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: linear-gradient(to left, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
}
.my header h1{color:#fff;}
.my .info{padding:5% 10%;position: relative;z-index:1;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 247, 205, 1)), to(rgba(143, 211, 244, 1)));
    background-image: -webkit-linear-gradient(right, rgb(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: -o-linear-gradient(right, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: linear-gradient(to left, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
}
.my .info:after{clear:both;content:'';display:block;}
.my .info .pic{width:20%;}
.my .info .pic img{width:100%;}
.my .info dl{position: absolute;z-index:1;left:30%;color:#fff;top:50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.my .linkList{border-radius: .1rem;box-shadow:0 1px 5px #dfe3e8;overflow:hidden;}
.my .linkList ul li{border-bottom:1px solid #eaeaea;background:#fff;}
.my .linkList ul li:last-child{border:0;}
.my .linkList ul li a{display:block;position: relative;z-index:1;}
.my .linkList ul li a p{display:block;padding:4% 5%;}
.my .linkList ul li a i.icon{position: absolute;z-index:1;right:5%;top:50%;color:#999;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/*工作台*/
.workBench{}
.workBench .block{background:#fff;border-radius: .1rem;box-shadow:0 1px 5px #dfe3e8;margin-bottom:5%;padding:3% 5%;}
.workBench .block .hd{margin-bottom:3%;}
.workBench .block .hd h3{color:#666;position: relative;z-index:1;padding-left:.16rem;}
.workBench .block .hd h3:after{position: absolute;left:0;top:50%;width:.05rem;height:70%;background:#39F7CD;content:'';
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.workBench .block .bd{}
.workBench .block .bd .list a{display:inline-block;width:33.3%;text-align:center;}
.workBench .block .bd .list a p{font-size:.25rem;color:#666;}

.workBench .taskLnk .bd .list{text-align:center;}
.workBench .taskLnk .bd .list a b{width:1.5rem;height:1.5rem;display:block;margin:0 auto 5%;line-height:1.5rem;border-radius: 50%;color:#fff;font-weight:normal;font-size:.4rem;}
.workBench .taskLnk .bd .list a:nth-child(1) b{
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(246, 211, 101, 1)), to(rgba(253, 160, 133, 1)));
    background-image: -webkit-linear-gradient(right, rgb(246, 211, 101, 1), rgba(253, 160, 133, 1));
    background-image: -o-linear-gradient(right, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    background-image: linear-gradient(to left, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}
.workBench .taskLnk .bd .list a:nth-child(2) b{
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 247, 205, 1)), to(rgba(143, 211, 244, 1)));
    background-image: -webkit-linear-gradient(right, rgb(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: -o-linear-gradient(right, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: linear-gradient(to left, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
}
.workBench .dangerousLnk .bd .list a i.icon,
.workBench .parkLnk .bd .list a i.icon
{color:#1DC39E;font-size:.7rem;}


/*任务管理*/
.taskListPage .pageBox{padding-top:1rem;padding-left:0;padding-right:0;}

/*任务详情*/
.taskDetailPage{}
.taskDetailPage .pageBox{padding-bottom:1.7rem;}
.taskDetailPage .form{position: relative;z-index:1;padding:0 5%;}
.taskDetailPage .form .corner{position: absolute;z-index:2;right:-1%;top:-1%;width:20%;}
.taskDetailPage .form .corner img{width:100%;display:block;}

/*填写评价*/
.processPage{}

/*应急处理详情*/
.urgViewPage{}
.urgViewPage .form .tit{color:#FF8181;font-size:.25rem;padding:5% 0% 0;}
.urgViewPage .form .mod em img{width:100%;display:block;}

/*应急历史记录*/
.urgListPage{}
.urgListPage .list ul li{padding:3% 5%;background:#fff;box-shadow:0 1px 5px #ddd;border-radius: .1rem;position: relative;z-index:1;margin-bottom:5%;}
.urgListPage .list ul li a{display:block;}
.urgListPage .list ul li:last-child{margin-bottom:0;}
.urgListPage .list ul li .cor{position: absolute;z-index:2;right:-1%;top:-2%;width:20%;}
.urgListPage .list ul li .cor img{width:100%;display:block;}
.urgListPage .list ul li dl{}
.urgListPage .list ul li dl dt{color:#333;font-weight:bold;margin-bottom:2%;}
.urgListPage .list ul li dl dd{font-size:.25rem;color:#999;}
.urgListPage .list ul li dl dd .label{margin-bottom:2%;}
.urgListPage .list ul li dl dd .label b{display:inline-block;padding:0.5% 2%;border:1px solid #ddd;background:#efefef;color:#999;font-weight:normal;font-size:.25rem;}
.urgListPage .list ul li dl dd .label b.green{border:1px solid #1DC39E;background:#ebfaf6;color:#1DC39E;}
.urgListPage .list ul li dl dd .label b.blue{border:1px solid #5481DC;background:#ebf4fa;color:#5481DC;}
.urgListPage .list ul li dl dd .txt{margin-bottom:2%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;width:100%;}

/*首页*/
.indexPage{}
.indexPage header{position: relative;box-shadow:none;color:#fff;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 247, 205, 1)), to(rgba(143, 211, 244, 1)));
    background-image: -webkit-linear-gradient(right, rgb(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: -o-linear-gradient(right, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
    background-image: linear-gradient(to left, rgba(57, 247, 205, 1), rgba(143, 211, 244, 1));
}
.indexPage .search{background:#fff;padding:3% 5%;position: relative;z-index:1;}
.indexPage .search:after{clear:both;content:'';display:block;}
.indexPage .search .box{float:left;width:88%;border:1px solid #e0e0e0;border-radius:2rem;background:#fff;position: relative;z-index:1;overflow:hidden;}
.indexPage .search .box i.icon{position: absolute;z-index:1;left:5%;top:50%;color:#999;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.indexPage .search .box input.text{background:#fff;padding:3% 0;border:0;width:100%;font-size:.25rem;padding-left:14%;padding-right:5%;outline:none;}
.indexPage .search button.icon{position: absolute;right:0;top:50%;border:0;background:transparent;font-size:.6rem;width:15%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.indexPage .fastNav{background:#fff;padding:3% 5% 5%;box-shadow:0 1px 5px #ddd;}
.indexPage .fastNav:after{clear:both;content:'';display:block;}
.indexPage .fastNav a{display:block;float:left;width:33.3%;}
.indexPage .fastNav a i.icon{display:block;width:1.5rem;height:1.5rem;border-radius: 50%;line-height:1.5rem;margin:0 auto 5%;text-align:center;color:#fff;font-size:.6rem;text-shadow:0 1px 3px #666;}
.indexPage .fastNav a:nth-child(1) i.icon{
    background-image: -webkit-gradient(linear, right top, left top, from(#90c5fc), to(#ddc3fc));
    background-image: -webkit-linear-gradient(right, #90c5fc, #ddc3fc);
    background-image: -o-linear-gradient(right, #90c5fc, #ddc3fc);
    background-image: linear-gradient(to left, #90c5fc, #ddc3fc);
}
.indexPage .fastNav a:nth-child(2) i.icon{
    background-image: -webkit-gradient(linear, right top, left top, from(#3bf6ce), to(#8cd4f3));
    background-image: -webkit-linear-gradient(right, #3bf6ce, #8cd4f3);
    background-image: -o-linear-gradient(right, #3bf6ce, #8cd4f3);
    background-image: linear-gradient(to left, #3bf6ce, #8cd4f3);
}
.indexPage .fastNav a:nth-child(3) i.icon{
    background-image: -webkit-gradient(linear, right top, left top, from(#f6d365), to(#fda085));
    background-image: -webkit-linear-gradient(right, #f6d365, #fda085);
    background-image: -o-linear-gradient(right, #f6d365, #fda085);
    background-image: linear-gradient(to left, #f6d365, #fda085);
}
.indexPage .fastNav a p{text-align:center;color:#666;font-size:.3rem;}
.indexPage .pageBox{padding-top:5%;padding-bottom:5%;}
.indexPage .list{}
.indexPage .list ul li{margin-bottom:5%;background:#fff;box-shadow:0 1px 5px #ddd;border-radius: .1rem;overflow:hidden;}
.indexPage .list ul li a{display:block;position: relative;z-index:1;}
.indexPage .list ul li a .pic{width:30%;height:2rem;position: relative;z-index:1;overflow:hidden;}
.indexPage .list ul li a .pic img{width:100%;height:100%;}
.indexPage .list ul li a dl{position: absolute;z-index:1;left:35%;top:50%;width:60%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.indexPage .list ul li a dl dt{color:#333;margin-bottom:.5%;font-weight:bold;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.indexPage .list ul li a dl dd p{color:#999;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;margin-bottom:.5%;font-size:.25rem;}
.indexPage .list ul li a dl dd b{font-size:.2rem;color:#FDA084;font-weight:normal;}

/*植物列表*/
.listPage{}
.listPage .search{padding:3% 5%;position: relative;z-index:1;
    background-image: -webkit-gradient(linear, right top, left top, from(#3bf6ce), to(#8cd4f3));
    background-image: -webkit-linear-gradient(right, #3bf6ce, #8cd4f3);
    background-image: -o-linear-gradient(right, #3bf6ce, #8cd4f3);
    background-image: linear-gradient(to left, #3bf6ce, #8cd4f3);
}
.listPage .search:after{clear:both;content:'';display:block;}
.listPage .search .box{float:left;width:100%;border:1px solid #e0e0e0;border-radius:2rem;background:#fff;position: relative;z-index:1;overflow:hidden;}
.listPage .search .box i.icon{position: absolute;z-index:1;left:5%;top:50%;color:#999;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.listPage .search .box input.text{background:#fff;padding:3% 0;border:0;width:100%;font-size:.25rem;padding-left:12%;padding-right:5%;outline:none;}

.listPage .banner{}
.listPage .banner a{display:block;}
.listPage .banner a img{width:100%;display:block;}
.listPage .pageBox{padding-top:5%;padding-bottom:5%;}
.listPage .scrollTxt{background:#fff;border-radius: .1rem;overflow:hidden;box-shadow:0 1px 5px #ddd;position: relative;z-index:1;margin-bottom:5%;}
.listPage .scrollTxt a{display:block;padding:3% 5%;}
.listPage .scrollTxt .l{position: absolute;z-index:1;left:5%;top:50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.listPage .scrollTxt .l i.icon{font-size:.7rem;
    background-image:-webkit-linear-gradient(left,#8FD3F4,#39F7CD);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.listPage .scrollTxt .r{position: absolute;z-index:1;right:5%;top:50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.listPage .scrollTxt .r i.icon{color:#999;}
.listPage .scrollTxt .c{padding:3% 10% 3% 15%;width:100%;}
.listPage .list{}
.listPage .list:after{clear:both;content:'';display:block;}
.listPage .list ul li{float:left;width:48%;margin:0 4% 4% 0;box-shadow:0 1px 5px #ddd;background:#fff;overflow:hidden;border-radius: .1rem;}
.listPage .list ul li:nth-child(2n){margin-right:0;}
.listPage .list ul li a{display:block;padding:6%;}
.listPage .list ul li a .pic{position: relative;z-index:1;overflow:hidden;width:100%;margin-bottom:5%;background:#efefef;height:3rem;}
.listPage .list ul li a .pic img{width:100%;display:block;position: absolute;z-index:1;left:50%;top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}
.listPage .list ul li a p{font-size:.25rem;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}

/*详情页*/
.plantDetailPage{}
.plantDetailPage .bn{padding-top:1rem;margin-bottom:5%;}
.plantDetailPage .bn img{width:100%;display:block;}
.plantDetailPage .pageBox{padding-top:0;padding-bottom:5%;}
.plantDetailPage .detail{background:#fff;border-radius: .1rem;overflow:hidden;padding:3% 5%;box-shadow:0 1px 5px #ddd;}
.plantDetailPage .detail .txt{font-size:.25rem;height:2rem;overflow:hidden;position: relative;z-index:1;margin-bottom:5%;}

.plantDetailPage .detail .txt .moreLnk{position: absolute;z-index:1;left:0;bottom:0;width:100%;text-align:center;height:.8rem;line-height:.8rem;


    background: -moz-linear-gradient(top, rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.5)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,.5) 0%,rgba(255,255,255,1) 100%);
}
.plantDetailPage .detail .txt .moreLnk a{color:#3684D5;display:inline-block;position: relative;z-index:1;}
.plantDetailPage .detail .txt .moreLnk a i.icon{position: absolute;z-index:1;right:-.4rem;top:39%;
    -webkit-transform: translate(0, -50%) rotate(-90deg);
    -moz-transform: translate(0, -50%) rotate(-90deg);
    -ms-transform: translate(0, -50%) rotate(-90deg);
    transform: translate(0, -50%) rotate(-90deg);
}

.plantDetailPage .detail .video{margin-bottom:5%;}
.plantDetailPage .detail .video video{width:100%;display:block;}
.plantDetailPage .detail .pic{margin-bottom:5%;}
.plantDetailPage .detail .pic img{width:100%;display:block;}

.plantDetailPage .bn .box{position: relative;z-index:1;overflow:hidden;width:100%;height:3.5rem;}
.plantDetailPage .bn .box img{width:100%;position: absolute;z-index:1;left:50%;top:50%;display:block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.plantDetailPage .bn .swiper-pagination-bullet{background:#fff;opacity:.5}
.plantDetailPage .bn .swiper-pagination-bullet-active{opacity: 1;}